.icons-list{
  display: flex;
  justify-content: right;
  align-items: right;
  height: 150px;
  flex-direction: column;
}
.button{
    cursor:pointer;
    transition: transform 300ms ease;
    font-size: 100px;
}
.red{
  color:red;
}
h3{
  height: 30px;
  width: 100px;
}
.button:hover{
    transform: scale(1.1);
}